<!-- 
 En el componente Event Summary, el card de Evento debe tener en la 
 sección header el Event name. 

 En la sección content debe estar el Event description.
 
 En la sección footer debe mostrarse
dos indicadores estadísticos: Registered Attendees y Attendance %. -->

<mat-card>
    <mat-card-header>{{event.name}}</mat-card-header>
    <mat-card-content>{{event.description}}</mat-card-content>
    <mat-card-footer>
        <p>Registered Attendees {{registeredAttendees}}</p>
        <p>Attendance % {{attendance}}</p>
    </mat-card-footer>
</mat-card>